.app__hero {
    color: #fff;
    height: 600px;
    position: relative;
    margin-bottom: 4rem;

    background-image: url("../../assets/portfolio4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app__hero .-overlay {
    background-color: rgba(0,0,0,0.8);
}

.app__hero-content {
    max-width: 768px;
    position: relative;
    z-index: 101;
}

.app__hero h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 1rem;
}

.app__hero h1 span {
    color: rgb(54, 208, 246);
}

.app__hero p span {
    border-bottom: 2px solid rgb(54, 208, 246);
    color: rgb(54, 208, 246);
    display: inline-block;
}

.app__hero p {

}