.app__navbar-container {
    padding: 1rem 1.5rem;
}

.app__navbar .-logo {
    border-left: 5px solid var(--primary);
    padding-left: .5rem;
}

.-logo h4 {
    font-size: 1.25rem;
    line-height: 120%;
}

.-logo h4 span {
    color:var(--primary);
}

.app__navbar-nav_item a {
    padding: .25rem 0;
    transition: all .25s ease-in-out;
}

.app__navbar-nav_item a.-active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.app__navbar-nav_item a:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.hamburger {
    display: none;
    gap: .35rem;
}

.strand {
    display: block;
    border-bottom: 3px solid var(--primary);
    margin-bottom: .25rem;
    transition: all .35s ease-in;
    width: 2rem;
}



@media screen and (max-width: 824px) {
    .app__navbar-nav_items {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .app__navbar.-active .strand:first-child {
        transform: rotate(45deg);
    }
    
    .app__navbar.-active .strand:last-child {
        transform: rotate(135deg);
        margin-top: -14px;
    }

    .app__navbar.-active .app__navbar-nav_items {
        position: absolute;
        right: 24px;
        top: 72px;
        z-index: 101;
        
        background-color: var(--primary);
        border-radius: 12px;
        color: #fff;
        display: block;
        height: 320px;
        padding: 32px;
        width: 360px;
    }
}
