.app__about {
    margin-bottom: 8rem;
}

.app__about-body {
    padding: 0 4rem;
}

.app__about-section {
    margin-bottom: 3rem;
}

.app__about .-text-header h3 {
    border-bottom: 12px solid var(--primary);
    font-size: 2rem;
    line-height: 100%;
    text-transform: uppercase;
    width: fit-content;
}

.app__about-body .app__about-section {
    margin-top: 200px;
}

.app__about .app__about-col {
    flex: .5;
}


.app__about .-img-box {
    position: relative;
    transition: all .25s ease-in-out;
}

.app__about .-img-box:hover .-img-overlay {
    top: unset;
}
.app__about .-img-box:hover .-img {
    transform: rotate(0deg);
}

.app__about .-img-overlay {
    border: 2px solid var(--primary);
    height: 400px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: -60px;
    transition: all .25s ease-in-out;
    width: 340px;
}

.app__about .-img {
    background-color: #fff;
    height: 400px;
    margin: auto;
    position: relative;
    transform: rotate(-5deg);
    transition: all .25s ease-in-out;
    width: 340px;
    z-index: 99;
}

.app__about .-text-header {
    margin-bottom: var(--spacing-md);
}

.app__about .-text-field {
    margin-bottom: var(--spacing-md);
}

.app__about .-text-field p {
    font-size: var(--body-text);
}

@media screen and (max-width: 824px) {
    .app__about-body {
        padding: 0 2rem;
    }
    .app__about-body .app__about-section {
        margin-top: 0;
        margin-bottom: 4rem;
    }
    
    .app__about .app__about-row.d-flex {
        flex-direction: column-reverse;
    }
    .app__about .app__about-section:nth-child(even) .app__about-row.d-flex {
        flex-direction: column;
    }
    .app__about .app__about-section:nth-child(even) .-img-section .-img {
        margin-left: calc(100% - 340px);
        margin: auto;
    }
    
    .app__about .app__about-section:nth-child(even) .-img-section .-img-overlay  {
        right: 0;
    }


    .app__about .-text-section {
        margin-bottom: var(--spacing-md);
    }

}


@media screen and (max-width: 480px) {
    .app__about .-img-section,
    .app__about .-img-overlay,
    .app__about .-img {
        width: 90%;
    }
}