.app__home {
    padding: 4rem 0;
}

/* Hero Section */
.app__home-hero {
    position: relative;
}
.app__home-hero_header {
    margin-bottom: var(--spacing-xxl);
}

.app__home-hero_header h2 {
    font-size: var(--text-hero); 
    margin: auto;
    text-align: center;
    width: 80%;
}

.app__home-hero_header h2 span {
    color: var(--primary);
}

.app__home-hero_extras {
    margin: auto;
    margin-bottom: var(--spacing-md);
    max-width: 1366px;
    padding:0 4rem;
    position: relative;
    text-transform: uppercase;
}

.-hero-about h5 {
    border-bottom: 2px solid lightgray;
    color: lightgray;
    margin-bottom: var(--spacing-sm);
    width: fit-content;
}

.-hero-about .-bullet {
    background-color: var(--primary);
    height: 4px;
    width: 8px;
}

.-hero-about h4 {
    font-size: var(--text-md);
}

.-hero-about .-center {
    position: absolute;
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
}

.-hero-about .-center svg {
    font-size: 2rem;
}

.-hero-about .-center h5 {
    margin-bottom: 0;
}

.-hero-about .-center svg.-arrow {
    transform: rotate(45deg);
    color: lightgray;
}

.-hero-about .-right {
    position: absolute;
    right: 6rem;
    top: 0px;
}

.-hero-about .-right .-scroller {
    border: 2px solid var(--primary);
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 134, 241);
    cursor: pointer;
    height: 120px;
    transition: all .25s ease-in-out;
    width: 120px;
}

.-hero-about .-right svg {
    font-size: 3rem;
    transition: all .25s ease-in-out;
}

.-hero-about .-scroller:hover {
    background-color: var(--primary);
}
.-hero-about .-scroller:hover svg {
    transform: rotate(135deg);
}

.app__home-hero_body {
    margin: auto;
    max-width: 1366px;
    margin-top: -100px;
    padding: 0 var(--spacing-xl);
}

.app__home-hero_body .-body_img-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-md);
}

.app__home-hero .-hero_img {
    border-radius: 12px;
}

.-grid-img-1 {
    background-color: crimson;
    height: 240px;
}

.-grid-img-2a {
    background-color: coral;
    height: 180px;
}
.-grid-img-2b {
    background-color: #1a2b3c;
    height: 240px;
}

.-grid-img-3 {
    background-color: teal;
    height: 480px;
}

.-grid-img-4a {
    background-color: dodgerblue;
    height: 240px;
}
.-grid-img-4b {
    background-color: gold;
    height: 180px;
}

.-grid-img-5 {
    background-color: #5d7380;
    height: 240px;
}



/* Story || About */
.app__home-about_body {
    margin-top: 200px;
}

.app__home-about .app__home-col {
    flex: .5;
}

.app__home-about .-img-box {
    position: relative;
    transition: all .25s ease-in-out;
}

.app__home-about .-img-box:hover .-img-overlay {
    top: unset;
}
.app__home-about .-img-box:hover .-img {
    transform: rotate(0deg);
}

.app__home-about .-img-overlay {
    border: 2px solid var(--primary);
    height: 400px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: -60px;
    transition: all .25s ease-in-out;
    width: 340px;
}

.app__home-about .-img {
    background-color: #fff;
    height: 400px;
    margin: auto;
    position: relative;
    transform: rotate(-5deg);
    transition: all .25s ease-in-out;
    width: 340px;
    z-index: 99;
}

.app__home-about .-text-header {
    margin-bottom: var(--spacing-md);
}

.app__home-about .-text-header h4 {
    color: lightgray;
    font-size: var(--text-md);
    text-transform: uppercase;
}

.app__home-about .-text-field {
    margin-bottom: var(--spacing-md);
}

.app__home-about .-text-field p {
    font-size: .8125rem;
}

.app__home-about .-text-field a {
    background-color: var(--primary);
    font-size: var(--link-text);
    font-weight: 400;
    padding: 0.75rem 2.5rem;
    width: fit-content;
}

.-text-field a svg {
    font-size: var(--text-md);
    transition: all .25s ease-in-out;
}

.-text-field a:hover svg {
    transform: rotate(45deg);
}

/* Gallery */
.app__home-gallery {
    display: none;
}

.app__home-gallery .app__home-header {
    margin-bottom: var(--spacing-lg);
}

.app__home-gallery .app__home-header h2 {
    font-size: var(--text-title);
}

.app__home-gallery a {
    background-color: var(--primary);
    display: inline-block;
    height: fit-content;
    padding: 1rem 2rem;
    width: fit-content;
}

.app__home-gallery .app__home-header .-border_line {
    width: 120%;
    background-color: var(--primary);
    height: 12px;
}


/* portfolio */
.app__home-portfolio .-title {
    text-transform: uppercase;
}

.app__home-portfolio_col.-left {
    flex: .4;
} 

.app__home-portfolio_col.-right {
    flex: .6;
}

.app__home-portfolio_col.-left h2 {
    font-size: var(--text-title);
}

.app__home-portfolio_col.-left .-border_line {
    width: 50%;
    background-color: var(--primary);
    height: 12px;
}

.app__home-portfolio .-val {
    color: var(--primary);
    font-size: 3.5rem;
    line-height: 100%;
}

.app__home-portfolio .-heading {
    line-height: 100%;
}


/* projects */
.app__home-projects .app__home-row {
    background-color: #5d7380;
    display: none;
    padding: 4rem;
}

.app__home-projects_header {
    flex: .3;
}

.app__home-projects_header h2 {
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

.app__home-projects_body {
    flex: .6;
}

.app__home-project_col {
    flex: .5;
}

.app__home-project {
    margin-bottom: 2rem;
}

.app__home-project .-title {
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
}

.app__home-project .-subtitle {
    font-size: .975rem;
}


/* Contact */



/* ALL */
.app__home-hero,
.app__home-about,
.app__home-gallery,
.app__home-projects,
.app__home-portfolio {
    margin-bottom: 8rem;
}

@media screen and (max-width: 1200px) {
    /* HERO */
    .app__home-hero_body .-body_img-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .-grid-img-3 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .-hero-about .-left {
        display: none;
    }

    .app__home-hero_body {
        margin-top: 0;
    }

    .-hero-about .-center {
        top: -60px;
    }

    .-hero-about .-right .-scroller {
        width: 100px;
        height: 100px;
    }

    .-hero-about .-right .-scroller svg {
        font-size: 1.5rem;
    }

    .app__home-portfolio {
        padding: 4rem 0;
    }

    .app__home-portfolio_body {
        flex-direction: column;
        gap: 4rem;
    }

    .app__home-projects .app__home-row {
        flex-direction: column;
    }

    .app__home-projects_header {
        margin-bottom: 2rem;
    }

    /* ALL */
    .app__home-hero,
    .app__home-about,
    .app__home-gallery,
    .app__home-projects,
    .app__home-portfolio {
        margin-bottom: 4rem;
    }
}


@media screen and (max-width: 824px) {
    /* HERO */
    .app__home {
        padding: 2rem 0 5rem;
    }

    .app__home-hero_body {
        margin-top: 20px;
    }

    .app__home-hero_body .-body_img-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .-grid-img-1 {
        display: none;
    }

    .-hero-about .-right  {
        display: none;
    }

    .-hero-about .-center {
        top: -40px;
    }

    /* About */
    .app__home-hero_header {
        margin-bottom: var(--spacing-md);
    }
    .app__home-about_body {
        margin-top: 0;
    }
    
    .app__home-about .app__home-row.d-flex {
        flex-direction: column-reverse;
    }

    .app__home-about .-text-section {
        margin-bottom: 2rem;
    }

    /*  */
    .app__home-portfolio_col.-left .-border_line {
        height: 12px;
    }
    .app__home-portfolio .-val, 
    .app__home-portfolio_col.-left h2 {
        font-size: 2.75rem;
    }

    .app__home-gallery .-gallery_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: unset;
    }

    .-grid_item.-item-1 {
        grid-row: 1 / 2;
    }
    .-grid_item.-item-2 {
        grid-row: 2 / 3;
    }
    .-grid_item.-item-4 {
        grid-row: 3 / 4;
    }
    .-grid_item.-item-3 {
        grid-row: 4 / 5;
    }

    .-grid_item.-item-1, 
    .-grid_item.-item-2, 
    .-grid_item.-item-3, 
    .-grid_item.-item-4 {
        height: auto;
    }

    .app__home-hero,
    .app__home-about,
    .app__home-gallery,
    .app__home-projects {
        margin-bottom: 2rem;
    }

    .app__home-portfolio {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 700px) {
    .app__home-hero_header h2 {
        font-size: 2rem;
    }
    .-hero-about .-center {
        position: relative;
    }

    .-hero-about .-center .-socials {
        flex-direction: column;
    }

    .-hero-about .-center svg.-arrow {
        rotate: 90deg;
    }

    .app__home-projects_body .d-flex {
        flex-direction: column;
    }

    .app__home-project_col.-left {
        margin-bottom: 1rem;
    }
    
}

@media screen and (max-width: 600px) {
    .app__home-hero_body {
        padding: 0 1rem;
    }
    .app__home-hero_body .-body_img-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .-grid-img-5 {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .app__home-hero_header h2 {
        width: 100%;
    }
    .app__home-about .-img-section,
    .app__home-about .-img-overlay,
    .app__home-about .-img {
        width: 90%;
    }
}