.app__footer {
    background-color: var(--dark);
    color: #fff;
    border-top: 1px solid gray;
}

.app__footer-row:first-child {
    padding: 4rem 2.5rem;
}

.app__footer-row:last-child {
    background-color: #221f1f;
    padding: 2rem 0;
}

.app__footer-body a {
    background-color: var(--primary);
    display: inline-block;
    height: fit-content;
    padding: 1rem 2rem;
    width: fit-content;
}

.app__footer-body h3 {
    font-size: 3rem;
    line-height: 115%;
    margin-bottom: .5rem;
}

.app__footer-body h4 {
    color: lightgray;
    font-size: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.app__footer-body h3 span {
    color: var(--primary);
}

.app__footer-header {
    margin-bottom: 1rem;
}

.app__footer-header h4 {
    border-bottom: 4px solid #fff;
    color: lightgray;
    padding-bottom: .5rem;
    text-transform: uppercase;
    width: fit-content;
}

.app__footer svg {
    font-size: 1.75rem;
}

.app__footer svg:hover {
    color: var(--primary);
}


.app__footer p a {
    color: var(--primary);
    text-decoration: underline;
}

@media screen and (max-width: 824px) {
    .app__footer-row:first-child {
        padding: 2.5rem 1.5rem;
    }

    .app__footer-row:last-child > .d-flex {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .app__footer-body.d-flex {
        flex-direction: column;
        gap: 2.5rem;
    }

    .app__footer-body h3 {
        font-size: 2rem;
    }

    .app__footer-body a {
        align-self: flex-end;
    }
}




@media screen and (max-width: 400px) {
    .app__footer-row:last-child {
        flex-direction: column;
    }
}