* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark);
  color: #fff;
}

:root {
  --primary: #3c86f1;
  --dark: #24272a;
  --header-text:5rem;
  --text-hero: 2.5rem;
  --text-title: 3rem;
  --text-md: 1.2rem;
  --body-text:.8125rem;
  --link-text:1rem;
  --nav-height:;
  --nav-link-text:1.125rem;;
  --spcaing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md:1.5rem;
  --spacing-lg:2rem;
  --spacing-xl:2.5rem;
  --spacing-xxl:3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  min-height: 100%;
  min-width: 100%;
}

.app__container {
  max-width: 1300px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}
.-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
}


.w-100 {
  width: 100%;
}

.h-100 {
  min-height: 100%;
}

.p-r {
  position: relative;
}

.gap-0 {
  gap: .5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 1.5rem;
}
.gap-3 {
  gap: 2rem;
}
.gap-4 {
  gap: 2.5rem;
}



.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.item-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-left {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -moz-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
.justify-right {
  -webkit-box-pack: right;
  -webkit-justify-content: right;
  -moz-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}
.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1320px) {
  .app__container {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .section__container {
    padding: 2.5rem 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .section__container,
  .app__container {
    padding: 2.5rem 1rem;
  }
}